<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory >
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/CompleteDataUlt</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.jdbc.batch_size">5000</property> 
 		<!--<property name="show_sql">true</property>-->
 		 <property name="hibernate.show_sql">false</property>
 		 <!-- property name="hibernate.transaction.auto_close_session">false</property-->
 		<property name="hibernate.connection.release_mode">on_close</property> 		
 		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>        
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">60</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">35</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
        <property name="hibernate.c3p0.acquireRetryDelay">250</property>

       
        <property name="hibernate.use_sql_comments">true</property>

        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>
 		

		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Smsobj.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Admincredit.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Holdingaccount.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Smscproxy.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Smscproxyproperty.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Sms.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Startnumber.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Sysuser.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Mnodirectproperty.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Blacklist.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Clientmanager.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Mnosmscproperty.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Mno.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Creditaccount.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Credits.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Role.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Profit.hbm.xml" />
		<mapping
			resource="com/ecomm/ultimatesms/messaging/persistence/pojos/Sendinginterface.hbm.xml" />
		</session-factory>
</hibernate-configuration>
